<div *ngIf="sentence; then sentenceIsLoaded else sentenceIsLoading"></div>

<ng-template #sentenceIsLoading>
    <span>Loading Sentence...</span>
</ng-template>

<ng-template #sentenceIsLoaded>
    <md-card class="sentence-card" fxLayout="column">
        <span class="sentence-text">{{sentence.text}}</span>
        <div fxLayout="row">
            <span>Language: {{sentence.language.name | capitalize}}</span>
        </div>
    </md-card>

    <div fxlayout="column" class="comment-card">
        <span class="section-header">Comments</span>

        <md-card *ngFor="let comment of sentence.comments" fxLayout="column">
            <span class="comment-text">{{comment.text}}</span>
            <div fxLayout="row">
                <span>Language: {{comment.language.name | capitalize}}</span>
            </div>
        </md-card>
    </div>

    <div fxlayout="column" class="translation-card">
        <span class="section-header">Translations</span>

        <md-card *ngFor="let translation of sentence.translations" fxLayout="column">
            <span class="translation-text">{{translation.text}}</span>
            <div fxLayout="row">
                <span>Language: {{translation.language.name | capitalize}}</span>
            </div>
        </md-card>
    </div>
</ng-template>
