nav {
  background: #9FA8DA;
}

#header-text {
  color: #212121;
  font-size: 24px;
  text-decoration: none;
}

//#login-register-button-containers {
//  //any button under #login-register-button-containers that has a previous sibling that is also a button
//  button + button {
//    margin-left: 4px;
//  }
//}
