md-card {
    cursor: pointer;
    margin-top: 24px;
}

.text {
    font-size: 24px;
    padding-bottom: 8px;
}

.translations-comments-container {
    span:not(:first-of-type) {
        padding-left: 12px;
    }
}
