@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~sass-material-colors/sass/_sass-material-colors';

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
}

//use the same padding for the navbar and the main contents
app-header nav,
ng-component {
  padding: 8px 16px;
}

app-root,
ng-component {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.form-error-container {
  background-color: material-color('red', '100');
  padding: 8px;

  span {
    color: material-color('red', '900');
  }
}
